.about {
    display: flex;
    margin-top: 12%;
    gap: 11%;
    align-items: center;
    padding-bottom: 25%;

    .image {
        position: relative;

        img {
            width: 450px;
        }

        .comment {
            position: absolute;
            top: 40%;
            left: 18%;
            display: flex;
            align-items: center;
            gap: 12px;
            background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), #f5e4e0);
            border-radius: 50px;
            padding-left: 15px;

            .icon {
                img {
                    width: 60px;
                    border-radius: 50%;
                }
            }

            .title {
                display: flex;
                flex-direction: column;

                h2 {
                    font-size: 17px;
                }

                p {
                    width: 334px;
                    margin-top: -12px;
                    font-size: 12px;
                }
            }
        }
    }

    .quilty {
        display: flex;
        flex-direction: column;

        .title {
            display: flex;
            flex-direction: column;

            h2 {
                color: #391608;
                font-size: 36px;
                width: 620px;
            }

            p {
                color: #391608;
                font-size: 18px;
                max-width: 610px;
                margin-top: -12px;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: auto auto;
            gap: 25px;
            margin-left: -14px;

            .box {
                display: flex;
                align-items: center;
                gap: 20px;

                .icon {
                    background: #eee6e3;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 115px;
                    height: 100px;

                    span {
                        color: #986e5c;

                        svg {
                            font-size: 45px;

                        }
                    }
                }

                .titles {
                    h2 {
                        font-size: 19px;
                    }

                    p {
                        margin-top: -9px;
                        font-size: 15px;

                    }
                }
            }
        }

        .button {
            display: flex;

            // align-items: center;
            // justify-content: center;
            margin-top: 5%;
            button {
                justify-content: center;
                display: flex;
                align-items: center;
                align-self: center;
                background: #371406;
                width: 190px;
                color: white;
                border-radius: 60px;
                border: 1px solid #634741;
                gap: 7px;
                padding: 10px;
                cursor: pointer;

                span {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}